accelerate==0.34.2
bitsandbytes==0.43.3
colorama==0.4.6
fsspec==2024.9.0
huggingface-hub==0.24.6
mkl-service==2.4.0
packaging==24.1
psutil==6.0.0
regex==2024.7.24
safetensors==0.4.5
setuptools==72.1.0
tokenizers==0.19.1
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
tqdm==4.66.5
transformers==4.44.2
wheel==0.43.0
